<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Online Computer Shop</h2>

    
<hr>

    <table>
        <tr>
            <td>Ram</td>
            <td>Casing</td>
            <td>Storage</td>
            <td>Monitor</td>
            <td>Graphics</td>
        </tr>
    </table>
<hr>
<table>
<% for(var i=0; i < customerlsit.length; i++){ %>
    <tr>
        <td><%= customerlsit[i].id %></td>
        <td><%= customerlsit[i].username %></td>
        <td><%= customerlist[i].password %></td>
        <!-- <td>
            <a href="/home/edit/<%= customerlist[i].id %>">EDIT</a> | 
            <a href="/home/delete/<%= customerlist[i].id %>">DELETE</a>  
        </td> -->
    </tr>
    <% } %>
</table>
</body>
</html>